.button{
    border:none;
    outline: none;
    padding-inline:1.5rem;
    padding-block: 0.75rem;
    border-radius: 0.75rem;
    cursor: pointer;

    transition: all 0.2s ease-in-out;

    &.primary-button{
        background-color: rgb(244, 71, 71);
        color: whitesmoke;
    }

    &:active{
        transform: scale(1.012);
    }

    
}